<!DOCTYPE html>
<html>
<head>
    <title>Doug Fresh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    @Scripts.Render("~/bundles/node")
    @Scripts.Render("~/bundles/systemjs")
    
</head>
<body>
    @RenderBody()
    <script>
        System.import('app/config/main').catch(function (err) { console.error(err); });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/analytics")
    @RenderSection("scripts", required: false)
</body>
</html>